# Defines the max number of worker goroutines per image processing request.
# If higher than number of logical CPUs, the system default is used instead.
MAX_WORKERS_PER_REQUEST=

# Defines the maximum size, in MB, of processor requests. Requests larger than
# this size will be denied.
MAX_REQUEST_SIZE=

# Specifies the directory where processed images will be made avaliable for
# users.
API_OUTPUT_DIR=