# Specifies the maximum number of worker goroutines to spawn per image
# processing request. If not set or if the specified value exceeds the number
# of logical CPUs, the maximum will default to the number of logical CPUs
# available on the system.
MAX_WORKERS_PER_REQUEST=

# Defines the maximum size, in MB, of processor requests. Requests larger than
# the specified size will be denied.
MAX_REQUEST_SIZE=

# Specifies the directory where processed images will be made avaliable for
# users.
API_OUTPUT_DIR=